/*    .---.  .---.    ____    ,---.   .--.   ____    ,---.    ,---..-./`)        .-------. .-------.        .-''-.     .-'''-.    .-'''-. 
    |   |  |_ _|  .'  __ `. |    \  |  | .'  __ `. |    \  /    |\ .-.')       \  _(`)_ \|  _ _   \     .'_ _   \   / _     \  / _     \
    |   |  ( ' ) /   '  \  \|  ,  \ |  |/   '  \  \|  ,  \/  ,  |/ `-' \       | (_ o._)|| ( ' )  |    / ( ` )   ' (`' )/`--' (`' )/`--'
    |   '-(_{;}_)|___|  /  ||  |\_ \|  ||___|  /  ||  |\_   /|  | `-'`"`       |  (_,_) /|(_ o _) /   . (_ o _)  |(_ o _).   (_ o _).   
    |      (_,_)    _.-`   ||  _( )_\  |   _.-`   ||  _( )_/ |  | .---.        |   '-.-' | (_,_).' __ |  (_,_)___| (_,_). '.  (_,_). '. 
    | _ _--.   | .'   _    || (_ o _)  |.'   _    || (_ o _) |  | |   |        |   |     |  |\ \  |  |'  \   .---..---.  \  :.---.  \  :
    |( ' ) |   | |  _( )_  ||  (_,_)\  ||  _( )_  ||  (_,_)  |  | |   |        |   |     |  | \ `'   / \  `-'    /\    `-'  |\    `-'  |
    (_{;}_)|   | \ (_ o _) /|  |    |  |\ (_ o _) /|  |      |  | |   |        /   )     |  |  \    /   \       /  \       /  \       / 
    '(_,_) '---'  '.(_,_).' '--'    '--' '.(_,_).' '--'      '--' '---'        `---'     ''-'   `'-'     `'-..-'    `-...-'    `-...-'  */

/* Reset base */
*,
*::before,
*::after {
    box-sizing: border-box; /* Garantisce che padding e bordi non influenzino la larghezza totale */
}

html, body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #ff00ff;
    color: white;
    font-size: 32px;
    overflow-x: hidden; /* Disabilita lo scorrimento orizzontale */
}

@font-face {
    font-family: 'PicNic';
    src: url('fonts/PicNic.woff2') format('woff2'),
         url('fonts/PicNic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Header */
header {
    background: #ff00ff;
    color: white;
    display: flex;
    flex-direction: column; /* Cambia il layout in colonna */
    align-items: center; /* Allinea gli elementi al centro */
    padding: 20px; /* Aggiunge spazio interno */
    height: auto; /* Adatta l'altezza al contenuto */
    position: relative;
}

/* Logo */
.brand {
    font-family: PicNic;
    font-size: 57px;
    font-weight: normal;
    text-align: center; /* Centra il testo */
    margin-bottom: 10px; /* Spazio tra il testo e il tasto hamburger */
}

/* Hamburger */
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra il tasto */
    gap: 5px;
    margin-top: 50px; /* Spazio sopra il tasto hamburger */
}

.hamburger div {
    width: 40px;
    height: 2px;
    background-color: white;
}

/* Menu */
nav {
    background-image: linear-gradient(rgba(255,0,255,1), rgba(255,0,255,1) 55%, rgba(255,0,255,0));
    position: absolute;
    z-index: 9999; /* Valore alto per sovrapporsi ad altri elementi */
    top: 240px;
    left: 0;
    width: 100%;
    height: 520px;
    display: none; /* Menu nascosto di default */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    padding: 15px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Menu visibile */
nav.hidden {
    display: none; /* Nasconde il menu */
}

nav:not(.hidden) {
    display: block; /* Mostra il menu */
}

/* Sezione in costruzione */
.construction-section {
    background-color: #0000ff;
    color: white;
    text-align: space-between;
    font-size: 32px;
    padding: 20px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer */
footer {
    display: flex; /* Imposta il layout Flexbox */
    justify-content: space-between; /* Spaziatura tra gli elementi */
    align-items: center; /* Allinea verticalmente */
    background-color: #ff00ff;
    color: white; /* Colore del testo */
    padding: 10px 20px; /* Spazio interno */
    font-size: 16px; /* Dimensione del testo */
    height: 60px; /* Altezza fissa */
    width: 100%; /* Occupa tutta la larghezza */
    bottom: 0; /* Ancorato in fondo */
    position: relative;
    z-index: 101;
}

footer .instagram-icon {
    font-size: 24px; /* Dimensione dell'icona */
    color: white; /* Colore dell'icona */
    text-decoration: none; /* Rimuove la sottolineatura */
    transition: color 0.3s ease; /* Animazione su hover */
}

footer .instagram-icon:hover {
    color: #cd00cd; /* Cambia il colore dell'icona su hover */
}

/* Sezione "In arrivo" */
.coming-soon {
    background-image: linear-gradient(#ff00ff, #ffff00);
    color: white; /* Colore del testo */
    text-align: justify; /* Testo giustificato */
    font-size: 32px; /* Dimensione del testo per default */
    width: 100%; /* Larghezza completa */
    height: 100%; /* Altezza fissa per ottenere un quadrato */
    display: flex; /* Abilita il Flexbox */
    justify-content: space-between; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
    margin: 0; /* Rimuove margini esterni */
    padding: 20px; /* Padding interno */
}

/* Griglia generale */
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonne su desktop */
    gap: 0; /* Nessuno spazio tra i quadrati su desktop */
    justify-content: center; /* Centra la griglia */
    padding: 0; /* Rimuove padding */
    max-width: calc(5 * 360px); /* Larghezza massima della griglia su desktop */
    margin: 0 auto; /* Centra la griglia */
}

/* Quadrato con immagine rotonda */
.square {
    width: 100%; /* Adatta al contenitore */
    max-width: 360px; /* Mantieni una dimensione fissa */
    height: 360px; /* Altezza fissa */
    background: linear-gradient(180deg, #0000ff, #ff00ff); /* Sfondo blu e viola */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0px;
    padding: 10px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
}

/* Cerchio */
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Crea il cerchio */
    overflow: hidden; /* Nasconde la parte dell'immagine che sborda */
    margin-bottom: 10px;
}

.circle img {
    width: 100%; /* Impedisce all'immagine di sbordare */
    height: 100%; /* Impedisce all'immagine di sbordare */
    object-fit: cover; /* Assicura che l'immagine si adatti senza distorsioni */
}

.brand {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: white; /* Cambia il colore del testo, se necessario */
}

/* Stile per il rettangolo attorno al nome con angoli stondati */
.name a {
    text-decoration: none;
    color: white; /* Colore bianco per il testo */
    font-size: 16px; /* Impostiamo la dimensione del testo a 16px */
    font-weight: normal; /* Impostiamo il peso del font a regular (normale) */
    display: inline-block; /* Display inline-block per il rettangolo */
    padding: 8px 12px; /* Aggiunge spazio attorno al testo */
    background-color: rgba(0, 0, 0, 0.1); /* Nero con opacità al 10% */
    border-radius: 12px; /* Angoli stondati */
    transition: background-color 0.3s ease; /* Transizione per l'hover */
}

/* Hover: cambia il colore di sfondo su hover */
.name a:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Opacità al 20% al passaggio del mouse */
}

/* Hover: Mantieni il colore bianco e rimuovi la sottolineatura */
.name a:hover {
    color: white;
    text-decoration: none;
}

.name a:hover i {
    color: white; /* Cambia il colore dell'icona al passaggio del mouse */
}

/* Icona Instagram */
.name a i {
    font-size: 20px; /* Imposta la dimensione dell'icona */
    margin-right: 8px; /* Aggiunge distanza tra l'icona e il nome */
}

.info {
    margin-top: 20px;
    font-size: 16px;
}

.info p strong {
    font-weight: bold;
}


#particles-js {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100; /* Mette le particelle sopra gli altri elementi */
    pointer-events: none; /* Evita interferenze con i clic */
    background: transparent;
}

::selection {
    background-color: #0000ff; /* Giallo */
    color: #000000; /* Nero */
}

                                                                                                                        /*Media Query

/* Media Query per dispositivi mobili (fino a 768px) */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Una colonna su schermi piccoli */
        gap: 20px; /* Spazio tra i quadrati */
        padding: 0 20px; /* Aggiunge bordo di 20px ai lati */
        width: 100%; /* Larghezza piena */
        max-width: 100%; /* Limita la larghezza della griglia su mobile */
    }

    .square {
        margin: 0 auto; /* Centra ogni quadrato orizzontalmente */
    }

    /* Riduzione delle dimensioni dei cerchi su mobile */
    .circle {
        width: 150px; /* Riduce la dimensione del cerchio su mobile */
        height: 150px;
    }
}

/* Media Query per dispositivi come iPad (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr); /* 3 colonne su iPad */
        gap: 20px; /* Spazio tra i quadrati */
    }
}

/* Media Query per desktop (oltre 1024px) */
@media (min-width: 1025px) {
    .container {
        grid-template-columns: repeat(5, 1fr); /* 5 colonne su desktop */
        gap: 0; /* Nessuno spazio tra i quadrati su desktop */
        justify-content: center; /* Centra la griglia */
        padding: 0; /* Rimuove padding */
        max-width: calc(5 * 330px); /* Larghezza massima della griglia su desktop */
        margin: 0 auto; /* Centra la griglia */
    }
}

/* Regole per schermi grandi (desktop) */
@media (min-width: 1024px) {
    .coming-soon {
        font-size: 128px; /* Font più grande su desktop */
    }
}

