/* Reset base */
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif; /* Font principale */
    background-color: #0000ff; /* Sfondo del sito */
    color: white; /* Colore del testo principale */
}

/* Stile header */
header {
    background-color: #ff00ff; /* Sfondo dell'header */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Testo Hanami Press */
.brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Icona hamburger */
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
}

/* Stile footer */
footer {
    background-color: #ff00ff; /* Sfondo del footer */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
