/* Impostazioni di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0000ff; /* Sfondo blu */
    height: 100vh; /* Occupare tutta l'altezza della finestra */
    display: flex;
    justify-content: center; /* Allineare orizzontalmente */
    align-items: center; /* Allineare verticalmente */
    font-family: 'Helvetica', sans-serif; /* Font Helvetica */
}

.content h1 {
    color: white; /* Colore della scritta */
    font-size: 4em; /* Dimensione del font */
    text-transform: uppercase; /* Testo maiuscolo */
    font-weight: bold; /* Grassetto */
}

